<!doctype html>
<!--[if lt IE 8 ]><html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Rest App</title>

    <!-- Style CSS -->
    <!--<link href="/stylessheets/style.css" media="screen" rel="stylesheet">-->
    <!--<link href="/stylessheets/main.css" media="screen" rel="stylesheet" type="text/css">-->

    <!-- General Scripts -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="/javascripts/jlib/query.js"></script>
    <script src="/javascripts/main.js"></script>
</head>

<body>
<div class="body-wrap">
    <!--container-->
    <div class="container">
        <%- body%>
    </div>
    <!--/ container -->
</div>
</body>
</html>
