<h1>Transactions page</h1>
<p>Your token:<span id="token"><%=token%></span></p>

<h2>Create Stripe Payments</h2>

<label for="amount">Amount:</label>
<input type="number" name="amount" id="amount"><br>
<label for="currency">Currency: </label>
<input type="text" name="currency" id="currency"><br>
<label for="cardnumber">Card number </label>
<input type="text" name="customerid" id="cardnumber" class="card-number"><br>
<label for="cvc">CVC: </label>
<input type="number" name="cvc" id="cvc" class="card-cvc"><br>
<label for="card-expiry-month">Expired Month: </label>
<input type="number" name="card-expiry-month" id="card-expiry-month" class="card-expiry-month"><br>
<label for="card-expiry-year">Expired Year: </label>
<input type="number" name="card-expiry-year" id="card-expiry-year" class="card-expiry-year"><br>
<p class="payment-errors"></p>
<input type="button" class="submittransaction" id="submittransaction" value="Submit">